.box{
    height: 160px;
    width: 160px;
    background-color: greenyellow;
    float: left;
    margin: 10px;
    border-radius: 50%;
}
.b1{
    background-image: url(a.jpeg);
    background-size: cover;
}
.b2{
    background-image: conic-gradient(red,green,yellow,blue,purple,white,black,wheat);
}
.b3{
    background-image: repeating-conic-gradient(red 0deg ,red 10deg,yellow 10deg,yellow 11deg);

}
.b4{
    background-image: repeating-conic-gradient(
         white 0deg, white 0deg,
        black 200deg , black 20deg
    );
    background-size: 10px 10px;
    border-radius:0;



}
