.box{
    height: 160px;
    width: 160px;
    background-color: greenyellow;
    float: left;
    margin: 10px;
    border-radius: 50%;
}
.b1{
    background-image: url(a.jpeg);
    background-size: cover;
}
.b2{
    background-image: conic-gradient(red,green,yellow,blue,purple,white,black,wheat);
}
.b3{
    background-image: repeating-conic-gradient(red 0deg ,red 10deg,yellow 10deg,yellow 11deg);

}
.b4{
    background-image: repeating-conic-gradient(
         white 50deg, white 0deg,
        black 201deg , black 21deg
    );
    background-size: 10px 10px;
    border-radius: 0;



}

.b5{
    background-image: conic-gradient(
        red 0deg,red 90deg,
        blue 90deg,blue 180deg,
        green 180deg,green 270deg,
        yellow 270deg,yellow 360deg
    );

}
.b6{
    background-image: conic-gradient(from -30deg at 34% 61%,red 0deg,red 90deg,blue 90deg,blue 180deg,green 180deg,green 270deg,yellow 270deg,yellow 360deg);
    border-radius: 0;
    

}
.b6 h1{
    font-size: 10rem;
    margin-top: 0px;
    margin-left: 17px;
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
    background-clip: border-box;
    -webkit-background-clip: border-box;
   
}
.b7{
    border-radius: 0;
    background-image:linear-gradient(45deg,red,yellow,green,blue,orange,purple,aqua,wheat);


}


